@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace"
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image-with-shadow {  
  animation: shadowPulsate 2s infinite;  
}  

@keyframes shadowPulsate {  
  0%, 100% {  
    filter: drop-shadow(rgb(255, 255, 130) 0px 0px 15px);  
  }  
  50% {  
    filter: drop-shadow(rgb(255, 255, 130) 0px 0px 30px);  
  }  
}  

