@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace"
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image-with-shadow {  
  animation: shadowPulsate 2s infinite;  
}  

@keyframes shadowPulsate {  
  0%, 100% {  
    filter: drop-shadow(rgb(255, 255, 130) 0px 0px 15px);  
  }  
  50% {  
    filter: drop-shadow(rgb(255, 255, 130) 0px 0px 25px);  
  }  
}  

.box {
  position: relative;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-radius: 40px;
  background: transparent;
  cursor: pointer;
  
  &:hover {
      filter: contrast(1.1);
  }
  
  &:active {
      filter: contrast(0.9);
  }
  
  &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      border: 2px solid rgba(255, 217, 0, 0.925);
      transition: all .5s;
      animation: clippath 3s infinite linear;
      border-radius: 40px;
  }
  
  &::after {
      animation: clippath 3s infinite -1.5s linear;
  }
}

@keyframes clippath {
  0%,
  100% {
      clip-path: inset(0 0 80% 0);
  }
  
  25% {
      clip-path: inset(0 80% 0 0);
  }
  50% {
      clip-path: inset(80% 0 0 0);
  }
  75% {
      clip-path: inset(0 0 0 80%);
  }
}

.gradient-border {
  --border-width: 2px;
  position: relative;
  display: flex;
  align-items: center;
  background: #222;
  border-radius: 10px;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 10px;
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}


.spinner {
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}